.selected {
	background-color: #CFD8DC !important;
	color: white;
}
.locations {
	margin: 0 0 2em 0;
	list-style-type: none;
	padding: 0;
	width: 20em;
}
.locations li {
	cursor: pointer;
	position: relative;
	left: 0;
	background-color: #EEE;
	margin: 1.0em;
	padding: .3em 0;
	height: 2.1em;
	border-radius: 4px;
  line-height: 1em;
}
.locations li.selected:hover {
	background-color: #BBD8DC !important;
	color: white;
}
.locations li:hover {
	color: #607D8B;
	background-color: #DDD;
	left: .1em;
}
.locations .text {
	position: relative;
	top: -3px;
}
.locations .zip {
	display: inline-block;
	font-size: small;
	color: white;
	padding: 0.8em 0.7em 0 0.7em;
	background-color: #607D8B;
	line-height: 1em;
	position: relative;
	left: -1px;
	top: -4px;
	height: 2.3em;
	margin-right: .8em;
	border-radius: 4px 0 0 4px;
}

@media only screen and (min-width : 768px) {
    .is-table-row {
        display: table;
    }
    .is-table-row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}

.table-details {
	margin-top: 20px;
}
