<div class="container">
	<div class="row is-table-row">
		<div class="col-sm-6">
      <div class="cute-zip-input">
				<label><span class="zip">Zip:&nbsp;&nbsp;</span></label>
				<input id="zipcode" 
							 name="zipcode" 
               ng-model="zipcode" 
               type="text" 
							 placeholder="enter zip" 
               class="zip-input">
				 <button class="btn" 
								 ng-click="addZipcode()"
								 ng-disabled="!isValidZipcode()">New</button>
			</div>
			<ul class="locations">
        <li ng-repeat="location in aLocations | limitTo: 5 track by $index" 
						ng-click="showSelected($index)" 
						ng-class="{selected: $index === selectedIndex}">
					<span class="zip">{{location.zip}}</span> {{location.location}}
				</li>
			</ul>
		</div>
		<div class="col-sm-6">
			<div ng-show="selectedIndex > -1">
				<div us-spinner ng-show="loading"></div>
				<div ng-show="!loading">
					<table class="table-details">
						<tbody>
              <tr>
                <td data-title="" colspan="3" class="td-location">{{ aLocations[selectedIndex].location }}</td>
              </tr>
							<tr>
								<td data-title="Picture" rowspan="2" class="td-summary"><img src="{{ icon }}" alt="weather picture"></br>{{ summary }}</td>
                <td data-title="temperature" class="td-min"><b>min</b>:</br>{{ minTemp }}&deg;</td>
								<td data-title="" rowspan="2" class="td-more"><a href="{{ urlMore }}" target="_blank">More Information</a></br>(new tab)</td>
							</tr>
							<tr>
                <td data-title="temperature" class="td-max"><b>max</b>:</br>{{ maxTemp }}&deg;</td>
							</tr>
							<tr>
								<td data-title="" colspan="3" class="td-json"><button class="btn" ng-click="showWeatherJSON()" ng-bind-html="fShowWeatherJSON ? 'Hide JSON' : 'Show JSON'"></button>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-show="fShowWeatherJSON">
		<pre>
			{{ data | json }}
		</pre>
	</div>
</div>

